.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-container-login {
  width: 702px;
  position: relative;
  border-radius: 10px;
  height: 408px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );
}

.form-login-left {
  position: relative;
  right: 130%;
  top: 18%;
}

.title {
  margin-left: 130px;
}

.form-input-btn {
  width: 77%;
  height: 8%;
  margin-top: 15px;
  border-radius: 10px;
  position: relative;
  left: 28%;
  background: linear-gradient(
    90deg,
    rgb(183, 194, 201) 0%,
    rgb(109, 139, 139) 100%
  );
  outline: none;
  border: none;
  font-size: 1.3rem;
}

.login-img {
  width: 408px;
  height: 409px;
  position: relative;
  transform: translate(-50%, -50%);
}
.form-login-right {
  position: relative;
  left: 129.4%;
  top: 49.8%;
}

.form-input-signin h4 {
  text-decoration: none;
  color: black;
  font-weight: 50;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 6px;
  margin-left: 19% !important;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .form-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-login-right {
    display: none;
  }
  .form-login-left {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin: 0;
    text-align: center;
  }
  .input-field {
    margin: 16px !important;
  }

  .form-input-btn {
    position: static !important;
  }

  .form-input h4 {
    margin: 10px 0;
  }

  .form-input-signin h4 {
    margin-left: 0 !important;
  }
}
