/* .navbar-dashboard-mhs-container {
  background: transparent !important;
  background-color: transparent !important;
} */

.navbar-dark.bg-transparent .navbar-nav .nav-link {
  color: #212529;
}

.navbar-dashboard-mhs-container.bg-light {
  box-shadow: 5px 10px 30px rgb(0 247 255 / 16%);
  background-color: #ffffff;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar-dashboard-mhs-container {
    height: 100px;
    position: fixed;
    z-index: 999 !important;
  }

  .collapse-bg {
    background: #212529;
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    z-index: 999 !important;
  }
}
