.card-footer{
  background-color: #ececec;
  height: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35vh;
  overflow: hidden;
}
.fas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

